
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color:white;
  }
  
  #main-holder {
    width: 40%;
    margin-top: 18%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 7px;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: 1px solid lightgray;
    width: 120%;
  
    margin-bottom: 10px;
    padding: 7px;
  }
  #signup-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .signup-form-field
  {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 10px 10px;
  }
  div .btn {
    margin-top: 10px;
    width: 92%;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px; 
    background-color: #464d47;
    cursor: pointer;
    outline: none;
  }

  div .btn:hover{
   background-color: black;
  }


  #signUp-form-submit
  {
    margin-top: 8px;
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #464d47;
    cursor: pointer;
    outline: none;
  }
  #signUp-form-submit:hover{
    background-color: black;
  }

  #signup-form-submit2
  {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }
  .rights{
    font-weight: bolder;
    font-size: 15px;
    margin-top: 11%;
    background-color: white;
    text-align: center;
  }

 