html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;

}

body {
    background: white;
    font-family: "Nunito", sans-serif;
}

.container-fluid, .page-footer,.tab-content, #mainNavbar{
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-20deg);
    } to {
        
            opacity: 1;
            transform: rotateX(0);
        
    }
}

#mainNavbar .navbar-brand {
    color: black;
    font-size: 2rem;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}


#mainNavbar{
    background-color: white;
}

.announcement{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 2%;
    margin: 20px;
}

.announcement #date{
    margin-bottom: 60px;
    border-bottom: 3px solid black;
}