html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;

}
body {
    background: white;
    font-family: "Nunito", sans-serif;
}

.container-fluid, .page-footer, #mainNavbar{
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-30deg);
    } to {
        
            opacity: 1;
            transform: rotateX(0);
        
    }
}
#mainNavbar .navbar-brand {
    color: black;
    font-size: 2rem;
}

.blurb h2 {
   color:black;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: black;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}


#firstsection{
    margin-top: 100px;
}



.navbar.scrolled {
    background: white;
    transition: background 100ms;
    box-shadow: 5px 10px 18px #888888;
    transition: border 300ms;
     
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}







